### Imports

In [5]:
import pandas as pd
import numpy as np

### Reading dataste

In [21]:
df=pd.read_csv(r"C:\Users\Ikjot singh\Coding\pred_anal\sampling\Creditcard_data.csv")
df

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,1
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
767,575,-0.572263,0.731748,1.541254,0.150506,1.108974,0.372152,1.084879,-0.146329,-0.274447,...,-0.143508,-0.107582,-0.418263,-0.731029,0.877525,-0.364150,-0.177509,-0.256545,26.72,0
768,579,-1.296845,-0.511605,2.404726,-0.310762,-0.319551,-0.542842,-0.173310,0.260423,-1.202688,...,-0.071270,-0.161175,0.088496,0.285390,0.281069,-0.370130,0.043410,0.092318,80.00,0
769,579,1.214170,0.210481,0.484651,0.479768,-0.261955,-0.527039,0.021782,-0.106888,-0.037631,...,-0.224292,-0.594609,0.159877,0.091873,0.140964,0.227406,-0.017389,0.016030,5.98,0
770,580,1.267030,-0.071114,0.037680,0.512683,0.242392,0.705212,-0.226582,0.109483,0.657565,...,-0.164468,-0.177225,-0.222918,-1.245505,0.678360,0.525059,0.002920,-0.003333,12.36,0
771,581,1.153758,0.132273,0.382969,1.405063,-0.224287,-0.197295,0.020653,0.029260,0.412254,...,-0.107809,-0.125231,-0.057041,0.073082,0.633977,-0.310685,0.033590,0.015250,13.79,0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772 entries, 0 to 771
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    772 non-null    int64
 1   V1      772 non-null    float64
 2   V2      772 non-null    float64
 3   V3      772 non-null    float64
 4   V4      772 non-null    float64
 5   V5      772 non-null    float64
 6   V6      772 non-null    float64
 7   V7      772 non-null    float64
 8   V8      772 non-null    float64
 9   V9      772 non-null    float64
 10  V10     772 non-null    float64
 11  V11     772 non-null    float64
 12  V12     772 non-null    float64
 13  V13     772 non-null    float64
 14  V14     772 non-null    float64
 15  V15     772 non-null    float64
 16  V16     772 non-null    float64
 17  V17     772 non-null    float64
 18  V18     772 non-null    float64
 19  V19     772 non-null    float64
 20  V20     772 non-null    float64
 21  V21     772 non-null    float64
 22  V22     772 non-null    float64
 23  V23     772 non-null    float64
 24  V24     772 non-null    float64
 25  V25     772 non-null    float64
 26  V26     772 non-null    float64
 27  V27     772 non-null    float64
 28  V28     772 non-null    float64
 29  Amount  772 non-null    float64
 30  Class   772 non-null    int64
dtypes: float64(29), int64(2)
memory usage: 187.1 KB

In [23]:
#x_train y_train split
X_train=df.drop("Class",axis=1)
y_train=df["Class"]

### Balancing the dataset

In [9]:
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler
from collections import Counter

# Assuming you have your dataset loaded into X_train and y_train

# Instantiate the RandomUnderSampler and RandomOverSampler
under_sampler = RandomUnderSampler(random_state=42)
over_sampler = RandomOverSampler(random_state=42)

# Perform random undersampling
X_resampled_under, y_resampled_under = under_sampler.fit_resample(X_train, y_train)

# Perform random oversampling
X_resampled_over, y_resampled_over = over_sampler.fit_resample(X_train, y_train)

# Check the class distribution after undersampling and oversampling
print("Class distribution after undersampling:", Counter(y_resampled_under))
print("Class distribution after oversampling:", Counter(y_resampled_over))

df=X_resampled_over
df['Class']=y_resampled_over
samples=[]

Class distribution after undersampling: Counter({0: 9, 1: 9})
Class distribution after oversampling: Counter({0: 763, 1: 763})

Since undersampling generated a very small amount of rows , we will use oversampling to produce more accurate models

In [10]:
#simple random sampling
n = (1.96*1.96*0.5*0.5)//(0.05**2)
s1=df.sample(n=int(n), random_state=42)
samples.append(s1)
s1['Class'].value_counts()

1    207
0    177
Name: Class, dtype: int64

In [11]:
#stratified sampling
z=1.96
p=0.5
E=0.05
S=0.7
sample_size=round((z**2*p*(1-p))/((E/S)**2))

s2=df.groupby('Class', group_keys=False).apply(lambda x: x.sample(sample_size))
samples.append(s2)
s2['Class'].value_counts()

0    188
1    188
Name: Class, dtype: int64

In [12]:
# Cluster sampling
z=1.96
p=0.5
E=0.05
C=1.5
sample_size=round((z**2*p*(1-p))/((E/C)**2))
clusters=2
df_new=df
N = len(df)
K = int(N/sample_size)
data = None
for k in range(K):
    sample_k = df_new.sample(sample_size)
    sample_k["cluster"] = np.repeat(k,len(sample_k))
    df_new = df_new.drop(index = sample_k.index)
    data = pd.concat([data,sample_k],axis = 0)

random_chosen_clusters = np.random.randint(0,K,size = clusters)
s3 = data[data.cluster.isin(random_chosen_clusters)]
s3.drop(['cluster'], axis=1, inplace=True)
samples.append(s3)
s3['Class'].value_counts()

1    435
0    429
Name: Class, dtype: int64

In [13]:
# Systematic Sampling
import math as m
n=len(df)
k=int(m.sqrt(n))
s4=df.iloc[::k]
samples.append(s4)
s4['Class'].value_counts()

0    20
1    20
Name: Class, dtype: int64

In [14]:
#convenience sampling
s5=df.head(350)
samples.append(s5)
s5['Class'].value_counts()

0    347
1      3
Name: Class, dtype: int64

In [15]:
from scipy.stats import shapiro
# Check goodness of each sample using Shapiro-Wilk test
for i in range(5):
  print(shapiro(samples[i]))

ShapiroResult(statistic=0.16570627689361572, pvalue=0.0)
ShapiroResult(statistic=0.15179228782653809, pvalue=0.0)
ShapiroResult(statistic=0.16959726810455322, pvalue=0.0)
ShapiroResult(statistic=0.17291927337646484, pvalue=0.0)
ShapiroResult(statistic=0.09570705890655518, pvalue=0.0)

c:\Python311\Lib\site-packages\scipy\stats\_morestats.py:1816: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

In [16]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

In [17]:
heading=['Simple-Random','Stratified','Cluster','Systematic','Convenience']
ans=pd.DataFrame(columns=heading, index=['SVM','Logistic Regression','Decision Tree','Random Forest','Naive Bayes'])

### Running ML models

In [24]:
#train test split
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
for i in range(5):
  j=0
  x_s=samples[i].drop('Class',axis=1)
  y_s=samples[i]['Class']
  xtrain, xtest, y_train, y_test = train_test_split(x_s ,y_s , random_state=104,test_size=0.25, shuffle=True)

  # Applying SVM

  clf = SVC(kernel='rbf')
  clf.fit(xtrain, y_train)
  y_pred=clf.predict(xtest)
  acc = accuracy_score(y_test, y_pred)
  ans.iloc[j,i]=acc*100

  # Applying Logistic Regression

  classifier = LogisticRegression(random_state = 0,max_iter=2000)
  classifier.fit(xtrain, y_train)
  y_pred = classifier.predict(xtest)
  acc = accuracy_score(y_test, y_pred)
  ans.iloc[j+1,i]=acc*100

  # Applying Decision Tree
  classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
  classifier.fit(xtrain, y_train)
  y_pred = classifier.predict(xtest)
  acc = accuracy_score(y_test, y_pred)
  ans.iloc[j+2,i]=acc*100

  # Applying RandomForest Classifier
  clf = RandomForestClassifier(n_estimators = 100)
  clf.fit(xtrain, y_train)
  y_pred = clf.predict(xtest)
  acc = accuracy_score(y_test, y_pred)
  ans.iloc[j+3,i]=acc*100

  # Applying Naive bayes

  model = GaussianNB()
  model.fit(xtrain,y_train)
  predicted= model.predict(xtest)
  acc = accuracy_score(y_test, y_pred)
  ans.iloc[j+4,i]=acc*100

print(ans)

                    Simple-Random Stratified    Cluster Systematic Convenience
SVM                     61.458333  65.957447   67.12963       60.0   97.727273
Logistic Regression        90.625  88.297872  93.981481       80.0   97.727273
Decision Tree           94.791667  96.808511  98.611111       80.0   95.454545
Random Forest           98.958333   98.93617      100.0       90.0   97.727273
Naive Bayes             98.958333   98.93617      100.0       90.0   97.727273

### Accuracy Scores

In [26]:
def highlight_max(s):
    is_max = s == s.max()
    return ['background-color: red' if v else '' for v in is_max]
ans.style.apply(highlight_max, axis=1)